.body{
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
.wrapper{
  background-color: #F0F2F5;
  height: 720px;
  width: 100%;
  /* margin: auto auto; */
  padding: 130px 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-wrapper{
  padding: 0px;
  padding-left: auto;
  line-height: 1%;
  margin-right: 30px;
}

.fb-img{
  width: 301px;
  height: 106px;
  margin: -28px;
}

.fb-slogan{
  width: 530px;
  height: 64px;
  margin-top: 15px;
  font-size: 28px;
  line-height: 35px;
}

.login-form{
  background-color: #fff;
  box-shadow: 0px -1px 29px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px -1px 29px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -1px 29px -2px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 395px;
  height: 347px;
  padding-left: auto;
  position: relative;
  /* margin-left: 90px; */
}

.btn-submit{
  width: 100%;
  font-weight:bold ;
}

.password-reset-link{
  text-align: center;
}

.password-reset{
  text-decoration: none;
  font-size: 16px;
}

.password-reset:hover{
  text-decoration: underline;
}

.btn-wrapper{
  text-align: center;
}

.btn-create{
  background-color: #42B72A;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 18px;
}

.btn-create:hover{
  background-color: #3ba825 !important;
  color: white !important;
}


.extend-text{
  font-size: 16px;
  /* padding-left: 110px; */
  position: absolute;
  top: 105%;
  left: 7%;
  width: 100%;
}

.extend-link{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.extend-link:hover{
  text-decoration: underline;
  color: black;
}

.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  font-size: 12px;
  margin: 0 200px;
}

.language-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.language-item{
  padding-left: 20px;
}

.language-item a{
  text-decoration: none;
  color: #737373;
}

.language-item:hover{
  text-decoration: underline;
}

.plus-btn{
  width: 30px;
  height: 20px;
  background-color: #F5F6F7;
  border-color: #CCD0D5;
  padding: 0;
  margin: 0;
}

.link-list{
  margin-top: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link-item{
  padding-left: 20px;

}

.link-item a{
  color: #737373;
  text-decoration: none;
}

.line-through{
  margin: 8px 0px;
}